@font-face {
  font-family: seraphs;
  src: url(/fonts/SeraphsVF.woff2);
}

body {
  height: 100vh;
  margin: 1em;

  background-color: rgb(240, 241, 226);
  display: grid;
  place-items: center;
  margin: 5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(20, minmax(0, 1fr));
  min-height: 0;
  width: 100%;
  height: 200%;
  align-self: start;
}

p {
  display: contents;

  font-family: seraphs;
  margin: 0;
  text-transform: uppercase;
}

all {
  grid-column: 3;
  grid-row: 3;
  font-size: 28em;
  line-height: 0;
  margin: 0;
  border: 0;

  font-variation-settings: "wght" 200;

  transition: transform 0.5s ease;
}

all:hover {
  transform: scale(1.3);
  letter-spacing: 0.1em;
  color: forestgreen;
}

this {
  font-variation-settings: "wght" 200;
  grid-column: 1;
  grid-row: 6;
  font-size: 9em;
  line-height: 0;
  letter-spacing: 0.8em;

  transition: transform 0.5s ease;
}

this:hover {
  transform: scale(1.3);
  color: forestgreen;
}

span {
  font-family: seraphs;
  font-variation-settings:
    "wght" 120,
    "SRFS" 30;

  font-size: 7em;

  grid-column: 8;
  grid-row: 7;

  place-self: center;

  animation: --rondje 5s infinite linear;
  animation-delay: calc(sibling-index() * 0.34s - 5s);

  color: blue;
  text-transform: uppercase;

  transition:
    font-size 0.7s ease,
    color 0.3s ease;
}

span:hover {
  font-size: 9em;
  font-variation-settings: "wght" 200;
  color: forestgreen;
}

@keyframes --rondje {
  0% {
    transform: rotate(0deg) translateY(1.5em);
  }

  100% {
    transform: rotate(360deg) translateY(1.5em);
  }
}

stukje1 {
  font-variation-settings: "wght" 50;
  font-size: 2em;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row: 11;
  line-height: 1em;
  word-spacing: 0em;
  opacity: 0.5;

  transition:
    font-variation-settings 0.5s ease,
    line-height 0.5s ease,
    font-size 0.5s ease,
    word-spacing 0.5s ease;
}

stukje1:hover {
  font-variation-settings: "wght" 200;
  line-height: 1.5em;
  font-size: 2.5em;
  word-spacing: 0.5em;
  opacity: 1;
}

@font-face {
  font-family: seraphs;
  src: url(../fonts/SeraphsVF.woff2);
}

body {
  height: 100vh;
  margin: 1em;

  background-color: rgb(240, 241, 226);
  display: grid;
  place-items: center;
  margin: 5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(20, minmax(0, 1fr));
  min-height: 0;
  width: 100%;
  height: 200%;
  align-self: start;
}

p {
  display: contents;

  font-family: seraphs;
  margin: 0;
  text-transform: uppercase;
}

all {
  grid-column: 3;
  grid-row: 3;
  font-size: 28em;
  line-height: 0;
  margin: 0;
  border: 0;
  z-index: 1;
  font-variation-settings: "wght" 200;

  transition: transform 0.5s ease;
}

all:hover {
  transform: scale(1.3);
  letter-spacing: 0.1em;
  color: rgb(6, 68, 6);

  font-variation-settings: "wght" 100;
}

this {
  font-variation-settings: "wght" 200;
  grid-column: 1;
  grid-row: 6;
  font-size: 9em;
  line-height: 0;
  letter-spacing: 0.8em;
  z-index: 2;
  transition: transform 0.5s ease;
}

this:hover {
  transform: scale(1.3);
  color: rgb(6, 68, 6);
  font-variation-settings: "wght" 100;
}

span {
  font-family: seraphs;
  font-variation-settings:
    "wght" 120,
    "SRFS" 30;

  font-size: 7em;

  grid-column: 8;
  grid-row: 7;

  place-self: center;

  animation: --rondje 5s infinite linear;
  animation-delay: calc(sibling-index() * 0.34s - 5s);

  color: blue;
  text-transform: uppercase;

  transition:
    font-size 0.7s ease,
    color 0.3s ease;
}

span:hover {
  font-size: 9em;
  font-variation-settings: "wght" 200;
  color: forestgreen;
}

@keyframes --rondje {
  0% {
    transform: rotate(0deg) translateY(1.5em);
  }

  100% {
    transform: rotate(360deg) translateY(1.5em);
  }
}

stukje1 {
  font-variation-settings: "wght" 50;
  font-size: 2em;
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row: 11;
  line-height: 1em;

  transition: 0.5s;
}

stukje1:hover {
  font-variation-settings: "wght" 200;
  line-height: 1.5em;
  font-size: 2.5em;
  word-spacing: 0.5em;
}

closer {
  font-size: 7em;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row: 13;
  font-variation-settings:
    "wght" 20,
    "SRFS" 0;
  color: rgba(0, 0, 0, 0.349);
  grid-column-start: 7;
  grid-column-end: 11;

  transition: 0.5s;
}

closer:hover {
  font-size: 7em;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row: 13;
  font-variation-settings:
    "wght" 200,
    "SRFS" 30;
  color: rgb(222, 9, 9);
}

stukje2 {
  font-variation-settings: "wght" 50;
  font-size: 1.5em;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 16;
  line-height: 1em;
  opacity: 0.2;
  word-spacing: 0.2em;

  transition: 0.5s;
}

stukje2:hover {
  font-variation-settings: "wght" 100;
  font-size: 2em;
  opacity: 1;
  word-spacing: 2em;
  grid-column-start: 2;
  grid-column-end: -1;
  letter-spacing: 0.6em;
}
