@font-face {
  font-family: "astroz";
  src: url(../type/Astroz\ Trial.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alviona";
  src: url(../type/Alviona.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "boldstorm";
  src: url(../type/Boldstrom\ D.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bilderberg";
  src: url(../type/Bilderberg\ OTF.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zaddick";
  src: url(../type/thezaddick-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fundamental";
  src: url(../type/Fundamental\ Brigade\ Schwer.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "laserdisc";
  src: url(../type/Laser-Disc.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monoton";
  src: url(../type/Monoton-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "comoicrelief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sfretro";
  src: url(../type/SFRetroSpliceSC.ttf);
  font-weight: normal;
  font-style: normal;
}

html {
  color-scheme: light dark;
  max-width: 30em;
  margin: auto;
}

main {
  animation: --main-ani linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 100vh;
}

@keyframes --main-ani {
  0% {
    translate: 0 25em;
  }
  100% {
    translate: 0 35em;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
img:nth-of-type(7) {
  margin-bottom: 50em;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: comicrelief;
  margin-bottom: 5em;

  em {
    font-family: monoton;
    font-size: calc(8 / 3 * 1em);
    display: block;

    animation: --tekstkleur linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 87vh;
  }
}

h2:nth-of-type(1) {
  font-family: astroz;
  font-size: 8em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
  animation: --tekstkleur70s linear forwards;
  animation-timeline: view();
  animation-range: 70vh 200vh;
}

h2:nth-of-type(2) {
  font-family: laserdisc;
  font-size: 8em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.2em;
  animation: --tekstkleur80s linear forwards;
  animation-timeline: view();
  animation-range: 70vh 200vh;
}

h2:nth-of-type(3) {
  font-family: sfretro;
  font-size: 8em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  animation: --tekstkleur90s linear forwards;
  animation-timeline: view();
  animation-range: 70vh 200vh;
}

h2:nth-of-type(4) {
  font-family: zaddick;
  font-size: 11em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.2em;
  animation: --tekstkleur00s linear forwards;
  animation-timeline: view();
  animation-range: 70vh 200vh;
}

h2:nth-of-type(5) {
  font-family: fundamental;
  font-size: 11em;
  text-align: center;
  margin-bottom: 0.2em;
  margin-top: 0em;
  animation: --tekstkleur10s linear forwards;
  animation-timeline: view();
  animation-range: 30vh 200vh;
}

h2:nth-of-type(6) {
  font-family: boldstorm;
  font-size: 11em;
  text-align: center;
  margin-bottom: 0.2em;
  margin-top: 0em;
  animation: --tekstkleur20s linear forwards;
  animation-timeline: view();
  animation-range: 30vh 200vh;
}

h2:nth-of-type(7) {
  font-family: alviona;
  font-size: 11em;
  text-align: center;
  margin-bottom: 0.2em;
  margin-top: 0em;
  animation: --tekstkleurnu linear forwards;
  animation-timeline: view();
  animation-range: 30vh 200vh;
}

@keyframes --tekstkleur70s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(19, 224, 29),
      0px 0px 2px rgb(238, 238, 10),
      0px 0px 2px rgb(235, 20, 20),
      0px 0px 2px rgb(189, 49, 140),
      0px 0px 2px rgb(19, 185, 210);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(19, 224, 29),
      0px 40px 4px rgb(238, 238, 10),
      0px 60px 4px rgb(235, 20, 20),
      0px 80px 4px rgb(189, 49, 140),
      0px 100px 4px rgb(19, 185, 210);
  }
}

@keyframes --tekstkleur {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 100px 2px rgb(228, 241, 196),
      0px 200px 2px rgb(79, 153, 98),
      0px 300px 2px rgb(216, 216, 101),
      0px 400px 2px rgb(62, 62, 167),
      0px 500px 2px rgb(231, 81, 26);
  }

  90% {
    text-shadow:
      0px 200px 8px rgb(228, 241, 196),
      0px 300px 8px rgb(79, 153, 98),
      0px 400px 8px rgb(216, 216, 101),
      0px 500px 8px rgb(62, 62, 167),
      0px 600px 8px rgb(231, 81, 26);
  }
  100% {
    text-shadow:
      0px 280px 8px rgb(228, 241, 196),
      0px 290px 8px rgb(79, 153, 98),
      0px 300px 8px rgb(216, 216, 101),
      0px 310px 8px rgb(62, 62, 167),
      0px 320px 8px rgb(231, 81, 26);
  }
}

@keyframes --tekstkleur80s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(185, 86, 43),
      0px 0px 2px rgb(152, 206, 209),
      0px 0px 2px rgb(235, 235, 20),
      0px 0px 2px rgb(67, 183, 90),
      0px 0px 2px rgb(43, 50, 51);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(185, 86, 43),
      0px 40px 4px rgb(152, 206, 209),
      0px 60px 4px rgb(235, 235, 20),
      0px 80px 4px rgb(67, 183, 90),
      0px 100px 4px rgb(43, 50, 51);
  }
}

@keyframes --tekstkleur90s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(164, 150, 133),
      0px 0px 2px rgb(101, 119, 42),
      0px 0px 2px rgb(235, 235, 20),
      0px 0px 2px rgb(243, 161, 79),
      0px 0px 2px rgb(35, 154, 205);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(164, 150, 133),
      0px 40px 4px rgb(101, 119, 42),
      0px 60px 4px rgb(235, 235, 20),
      0px 80px 4px rgb(243, 161, 79),
      0px 100px 4px rgb(35, 154, 205);
  }
}

@keyframes --tekstkleur00s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(240, 240, 240),
      0px 0px 2px rgb(2, 127, 0),
      0px 0px 2px rgb(235, 52, 20),
      0px 0px 2px rgb(228, 237, 236),
      0px 0px 2px rgb(203, 227, 22);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(240, 240, 240),
      0px 40px 4px rgb(2, 127, 0),
      0px 60px 4px rgb(235, 52, 20),
      0px 80px 4px rgb(228, 237, 236),
      0px 100px 4px rgb(203, 227, 22);
  }
}

@keyframes --tekstkleur10s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(158, 80, 58),
      0px 0px 2px rgb(173, 173, 173),
      0px 0px 2px rgb(255, 255, 255),
      0px 0px 2px rgb(0, 0, 0),
      0px 0px 2px rgb(19, 29, 88);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(158, 80, 58),
      0px 40px 4px rgb(173, 173, 173),
      0px 60px 4px rgb(255, 255, 255),
      0px 80px 4px rgb(0, 0, 0),
      0px 100px 4px rgb(19, 29, 88);
  }
}

@keyframes --tekstkleur20s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(61, 165, 193),
      0px 0px 2px rgb(211, 215, 211),
      0px 0px 2px rgb(246, 106, 106),
      0px 0px 2px rgb(234, 232, 232),
      0px 0px 2px rgb(168, 170, 58);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(61, 165, 193),
      0px 40px 4px rgb(211, 215, 211),
      0px 60px 4px rgb(246, 106, 106),
      0px 80px 4px rgb(234, 232, 232),
      0px 100px 4px rgb(168, 170, 58);
  }
}

@keyframes --tekstkleurnu {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(245, 111, 2),
      0px 0px 2px rgb(18, 164, 200),
      0px 0px 2px rgb(244, 240, 5),
      0px 0px 2px rgb(229, 130, 204),
      0px 0px 2px rgb(231, 231, 231);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(245, 111, 2),
      0px 40px 4px rgb(18, 164, 200),
      0px 60px 4px rgb(244, 240, 5),
      0px 80px 4px rgb(229, 130, 204),
      0px 100px 4px rgb(231, 231, 231);
  }
}
