/* MARK: FONTS */
@font-face {
  font-family: "astroz";
  src: url(../type/Astroz\ Trial.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alviona";
  src: url(../type/Alviona.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "boldstorm";
  src: url(../type/Boldstrom\ D.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bilderberg";
  src: url(../type/Bilderberg\ OTF.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zaddick";
  src: url(../type/thezaddick-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fundamental";
  src: url(../type/Fundamental\ Brigade\ Schwer.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "laserdisc";
  src: url(../type/Laser-Disc.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monoton";
  src: url(../type/Monoton-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "comicrelief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sfretro";
  src: url(../type/SFRetroSpliceSC.ttf);
  font-weight: normal;
  font-style: normal;
}

/* MARK: KLEURTJES */

html {
  color-scheme: light dark;
}

/* MARK: ALGEMENE STYLING */

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 0.875rem + 0.625vw, 1.25rem);
  line-height: 1.4;
}

a {
}

button {
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;

  display: block;

  @media (width > 50em) {
    max-width: 100%;
  }
}

/* MARK: WRAPPERS */

html {
  max-width: 30em;
  margin: auto;
}

body {
  margin: 0;
  padding: 1em;
}

/* MARK: HEADER */

h1 {
  text-align: center;

  font-family: comicrelief;
  margin-bottom: 5em;

  @media (width > 32em) {
    font-size: 2.5em;
  }

  @media (width > 50em) {
    font-size: 3em;
  }

  em {
    font-family: monoton;
    display: block;

    animation: --tekstkleur linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 87vh;
    font-size: 2.6em;
    content: 1.3em;

    @media (width > 32em) {
      font-size: calc(8 / 3 * 1em);
    }

    @media (width > 50em) {
      font-size: 2.5em;
    }
  }
}

/* MARK: MAIN */

main {
  animation: --main-ani linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 100vh;

  display: grid;
  grid-auto-flow: dense;

  margin-bottom: 40em;

  @media (width > 32em) {
    /* grid-template-columns: 1fr 1fr; */
    /* column-gap: 1em; */
    /* align-items: center; */
  }

  @media (width > 50em) {
  }
}

@keyframes --main-ani {
  0% {
    translate: 0 25em;
  }
  100% {
    translate: 0 35em;
  }
}

main > p:first-child {
  grid-column: 1/-1;
}

main h2 {
  font-size: 8em;
  text-align: center;
  margin: 0;

  animation-timeline: view();
  animation-range: 70vh 200vh;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  @media (width > 32em) {
    /* font-size: 2.5em; */

    /* grid-column-start: 1; */
    /* grid-column-end: -1; */
    grid-column: 1/-1;
  }

  @media (width > 50em) {
    /* font-size: 3em; */
  }
}

main h2:nth-of-type(1) {
  font-family: astroz;

  margin-bottom: 0.5em;
  animation-name: --tekstkleur70s;
}

main h2:nth-of-type(2) {
  font-family: laserdisc;

  margin-bottom: 0.2em;
  animation-name: --tekstkleur80s;
}

main h2:nth-of-type(3) {
  font-family: sfretro;

  margin-bottom: 0.3em;
  margin-top: 0.3em;
  animation-name: --tekstkleur90s;
}

main h2:nth-of-type(4) {
  font-family: zaddick;
  font-size: 11em;
  margin-bottom: 0.2em;
  animation-name: --tekstkleur00s;
}

main h2:nth-of-type(5) {
  font-family: fundamental;
  font-size: 11em;
  margin-bottom: 0.2em;
  margin-top: 0em;
  animation-name: --tekstkleur10s;
  animation-range: 30vh 200vh;
}

main h2:nth-of-type(6) {
  font-family: boldstorm;
  font-size: 11em;
  text-align: center;
  margin-bottom: 0.2em;
  animation-name: --tekstkleur20s;
  animation-range: 30vh 200vh;
}

main h2:nth-of-type(7) {
  font-family: alviona;
  font-size: 11em;
  text-align: center;
  margin-bottom: 0.2em;
  animation-name: --tekstkleurnu;
  animation-timeline: view();
  animation-range: 30vh 200vh;
}

/* main img {
  @media (width > 32em) {
    &:nth-of-type(odd) {
      grid-column-start: 2;
    }
  }
} */

main figure {
  margin: 0;
  padding: 1em 0;

  img {
    grid-area: foto;
  }

  figcaption {
    grid-area: tekst;

    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.25rem);
    line-height: 1.4;
  }

  @media (width > 32em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tekst foto";
    gap: 1em;

    &:nth-of-type(odd) {
      grid-template-areas: "foto tekst";
    }
  }

  @media (width > 48em) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "tekst foto";

    &:nth-of-type(odd) {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "foto tekst";
    }
  }
}

@keyframes --tekstkleur70s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(19, 224, 29),
      0px 0px 2px rgb(238, 238, 10),
      0px 0px 2px rgb(235, 20, 20),
      0px 0px 2px rgb(189, 49, 140),
      0px 0px 2px rgb(19, 185, 210);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(19, 224, 29),
      0px 40px 4px rgb(238, 238, 10),
      0px 60px 4px rgb(235, 20, 20),
      0px 80px 4px rgb(189, 49, 140),
      0px 100px 4px rgb(19, 185, 210);
  }
}

@keyframes --tekstkleur {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 100px 2px rgb(228, 241, 196),
      0px 200px 2px rgb(79, 153, 98),
      0px 300px 2px rgb(216, 216, 101),
      0px 400px 2px rgb(62, 62, 167),
      0px 500px 2px rgb(231, 81, 26);
  }

  90% {
    text-shadow:
      0px 200px 8px rgb(228, 241, 196),
      0px 300px 8px rgb(79, 153, 98),
      0px 400px 8px rgb(216, 216, 101),
      0px 500px 8px rgb(62, 62, 167),
      0px 600px 8px rgb(231, 81, 26);
  }
  100% {
    text-shadow:
      0px 280px 8px rgb(228, 241, 196),
      0px 290px 8px rgb(79, 153, 98),
      0px 300px 8px rgb(216, 216, 101),
      0px 310px 8px rgb(62, 62, 167),
      0px 320px 8px rgb(231, 81, 26);
  }
}

@keyframes --tekstkleur80s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(185, 86, 43),
      0px 0px 2px rgb(152, 206, 209),
      0px 0px 2px rgb(235, 235, 20),
      0px 0px 2px rgb(67, 183, 90),
      0px 0px 2px rgb(43, 50, 51);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(185, 86, 43),
      0px 40px 4px rgb(152, 206, 209),
      0px 60px 4px rgb(235, 235, 20),
      0px 80px 4px rgb(67, 183, 90),
      0px 100px 4px rgb(43, 50, 51);
  }
}

@keyframes --tekstkleur90s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(164, 150, 133),
      0px 0px 2px rgb(101, 119, 42),
      0px 0px 2px rgb(235, 235, 20),
      0px 0px 2px rgb(243, 161, 79),
      0px 0px 2px rgb(35, 154, 205);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(164, 150, 133),
      0px 40px 4px rgb(101, 119, 42),
      0px 60px 4px rgb(235, 235, 20),
      0px 80px 4px rgb(243, 161, 79),
      0px 100px 4px rgb(35, 154, 205);
  }
}

@keyframes --tekstkleur00s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(240, 240, 240),
      0px 0px 2px rgb(2, 127, 0),
      0px 0px 2px rgb(235, 52, 20),
      0px 0px 2px rgb(228, 237, 236),
      0px 0px 2px rgb(203, 227, 22);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(240, 240, 240),
      0px 40px 4px rgb(2, 127, 0),
      0px 60px 4px rgb(235, 52, 20),
      0px 80px 4px rgb(228, 237, 236),
      0px 100px 4px rgb(203, 227, 22);
  }
}

@keyframes --tekstkleur10s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(158, 80, 58),
      0px 0px 2px rgb(173, 173, 173),
      0px 0px 2px rgb(255, 255, 255),
      0px 0px 2px rgb(0, 0, 0),
      0px 0px 2px rgb(19, 29, 88);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(158, 80, 58),
      0px 40px 4px rgb(173, 173, 173),
      0px 60px 4px rgb(255, 255, 255),
      0px 80px 4px rgb(0, 0, 0),
      0px 100px 4px rgb(19, 29, 88);
  }
}

@keyframes --tekstkleur20s {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(61, 165, 193),
      0px 0px 2px rgb(211, 215, 211),
      0px 0px 2px rgb(246, 106, 106),
      0px 0px 2px rgb(234, 232, 232),
      0px 0px 2px rgb(168, 170, 58);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(61, 165, 193),
      0px 40px 4px rgb(211, 215, 211),
      0px 60px 4px rgb(246, 106, 106),
      0px 80px 4px rgb(234, 232, 232),
      0px 100px 4px rgb(168, 170, 58);
  }
}

@keyframes --tekstkleurnu {
  0% {
  }

  20% {
    /*    position: fixed; */
    text-shadow:
      0px 0px 2px rgb(245, 111, 2),
      0px 0px 2px rgb(18, 164, 200),
      0px 0px 2px rgb(244, 240, 5),
      0px 0px 2px rgb(229, 130, 204),
      0px 0px 2px rgb(231, 231, 231);
  }

  100% {
    text-shadow:
      0px 20px 4px rgb(245, 111, 2),
      0px 40px 4px rgb(18, 164, 200),
      0px 60px 4px rgb(244, 240, 5),
      0px 80px 4px rgb(229, 130, 204),
      0px 100px 4px rgb(231, 231, 231);
  }
}
